
/src/build
/build-RECON_LAB-No_Frame-Debug
/build-RECON_LAB-No_Frame-Debug
/build-RECON_LAB-Qt_6_2_4_for_macOS-Debug
/build-RECON_LAB-No_Frame-Debug
/build-RECON_LAB-Qt_6_2_4_for_macOS-Debug
*.stash
*.stash
build-RECON_LAB-Qt_6_2_4_for_macOS-Debug/.qmake.stash
.DS_Store
*.stash
/build-RECON_LAB-No_Frame-Debug
build-RECON_LAB-No_Frame-Debug/.qmake.stash
build-RECON_LAB-Qt_6_2_4_for_macOS-Debug/.qmake.stash
build-RECON_LAB-No_Frame-Debug/.qmake.stash
src/RECON_LAB.pro.user
